@import "./styles/resets";
@import "./styles/vars";


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    @include max-1200 {
        max-width: 960px;
    }
    @include max-992 {
        max-width: 720px;
    }
    @include max-768 {
        max-width: 540px;
    }
    @include max-576 {
        max-width: calc(100% - 32px);
    }
}

a.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius $borderRadius $borderRadius $borderRadius;
    border: none;
    font-size: 1.171875rem;
    line-height: 1.5;
    color: $white;
    background-color: $darkBlue;
    transition: all 0.3s ease;
    &:hover {
        background-color: $darkBlueHover;
    }
}

.info-sec {
    background-color: $grey;
    border-radius: $borderRadius $borderRadius $borderRadius $borderRadius;
    margin-top: 80px;
    padding: 4rem 3rem;
}

.margin-top80 {
    margin-top: 80px;
    @include max-576 {
        margin-top: 40px;
    }
}

.margin-top40 {
    margin-top: 40px
}

form.add-note {
    input, textarea, button {
        border: 2px solid $darkBlue;
        border-radius: $borderRadius;
        display: block;
        width: 100%;
        font-family: sans-serif;
        background-color: transparent;
        padding: 10px;
        font-size: 1em;
        margin-bottom: 10px;
        transition: $transition;
        &:hover, &:focus {
            border-color: $darkBlueHover;
        }
    }
    textarea {
        resize: vertical;
        min-height: 200px;
    }
    .btn-sec {
        @include flex(row-reverse, flex-start, center);
        @include max-400 {
            justify-content: center;
        }
        > input, button {
            width: auto;
            padding: 10px 40px;
            margin: 0 5px;
            @include max-400 {
                padding: 10px 20px;
            }
            &[type=submit], &[type=submit] {
                background-color: $darkBlue;
                color: #fff;
                margin-right: 0;
                &:hover, &:focus {
                    background-color: $darkBlueHover;
                    border-color: $darkBlueHover;
                }
            }
            &[type=reset], &[type=cancel] {
                color: $fontColor;
                &:hover {
                    background-color: $darkBlueHover;
                    border-color: $darkBlueHover;
                    color: #ffffff;
                }
            }
        }
    }
}

.add-note-link {
    background-color: $darkBlue;
    border-radius: $borderRadius;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: $boxShadow;
    transition: $transition;
    &:hover {
        background-color: $darkBlueHover;
    }
}